#form {
  width:35%;
  margin: auto;
  padding: 20px;
  border: 5px;
  background-color: #ededed;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

label {
  margin-right: 10px;
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
#form #review {
  height: auto;
  word-wrap: break-word;
}
input,
textarea {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  border: none;
}
input{
  min-height:30px;

}
textarea{
  min-width: 50px;
}


input:focus, textarea:focus {
  outline: none;
}

button {
  width: 100px;
  height: 35px;
  background-color: rgb(11, 83, 4);
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.card {
  margin: auto;
  background-color: antiquewhite;
  width: 50%;
  max-width: 500px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  height:auto;
}

img {
  margin: auto;
  margin-top: 0;
  width: 50%;
  height: auto;
  border-radius: 3px;
  border: 1px solid rgb(38,104,120);
}
.description {
  padding: 0 10px;
  width: 50%;
}

.card h1 {
  color:rgb(38,104,120);
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.card h2 {
  color: blue;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.card h2 span{
  text-decoration: line-through;
  font-size: 1rem;
  color:rgb(107, 103, 103);
}
.card h2 strong{
  font-size:1rem;
  color:white;;
  background-color: rgb(162, 30, 138);
}
.card p {
  font-size: 1 rem;
}
.reviews{
  margin:auto;
  width: 37%;
  align-items: center;
}
#ratings span{
  font-size:1.5 rem;
  color:goldenrod;
}
#ratings {
  color:blue;
}
